html{ /* html kodunu ayarlıyoruz*/
    scroll-behavior: smooth; /* geçişlerin yumuşak olması için*/
}
*{ /*Buradaki ayarlar bütün projede geçerli olacak*/
    padding: 0; /* !sistemin otomatik olacak verdiği değil de bizim verdiğimiz ayarların geçerli olması için*/
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Montserrat', sans-serif; /*Çalışmamda yazı tipim */
}
img{ /*Her resim dosyam için geçerli genel ayarlamalar*/
    width:100%;
}
section{ /*her section için geçerli ayarlamalar*/
    padding: 100px 0; /*her section alttan ve üstten 100px olsun, soldan ve sağdan 0 */
    background:#122e44; /*section arka plan rengi*/
}
.section_title{
    margin-bottom: 30px; /*her section başlığı ile section arasındaki boşluk*/
}
.section_title h2{ /*section başlıkları için ayarlamalar*/
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .5s ease-in-out; /*bütün geçişlerin yavaş başlaması ve yavaş bitmesi için*/
}
.section_title h2:hover{ /*section title yazısının üzerine gelince rengi değişsin*/
    background-color: #24caac;
}
/*!   HEADER -------------------------------*/

header{
    background: #0e0b0b; /*header arka plan rengini belirledim*/
    border-bottom: 1px solid rgba(238, 238, 238, 0.801);/*header çizgisi*/
    position: fixed; /* header tagını olduğu yere sabitler*/
    width: 100%;
    z-index: 5;/*içeriğin header tagının altından geçmesi için*/
}
.navbar{ /*menü ve logo içinde*/
    display: flex; /*!menü ve logonun yan yana pozisyona gelmesi için*/
    justify-content: space-between; /*logonun solda menülerin de sağda olmasını sağlar ama menüler hala alt altadır*/
    align-items: center; /*merkeze gelmeleri için*/
    margin: 0 auto; 
    width: 80%;/*ortalanır*/
    padding: 10px 0;
}
.naw_linkleri{
    display: flex;/* menüleri yan yana sıralar*/
}
.naw_linkleri li a{
    margin-left: 15px; /*menülerin arasına boşluk koyar*/
    color: #fff;
    padding: 5px 15px; /*yukarıdan ve aşağıdan 5px boşluk,sağdan ve soldan 15px boşluk*/
    border-radius: 5px;
    transition: all .5s ease-in-out; /* üzerine gelince ne kadar sürede değişecek ve yavaşça*/
    }
.naw_linkleri li a:hover{
    background: #24caac; /*menü kutusunun üzerine gelince rengini değiştirdim*/
}
.logo h2 a{ /*logonun içindeki h2 nin içindeki a tagına stil veriyorum*/
    color: #24caac;
    text-transform: uppercase;/*yazıların hepsini büyütür*/
}
/*!   ANASAYFA ------------------------------------------------*/
.inner_anasayfa{
    display: flex; /* içeriklerin iki karşıt uça yerleşmesini sağlar*/
    align-items: center;/*iki divi ortalar*/
    justify-content: space-between; /*içindekileri uyumlu bir şekilde ortalar*/
    margin: 0 auto;
    width: 80%;
    color: #fff;
}
.child_anasayfa{
    flex-basis: 45%; /*responsive tasarımlarda bu kod mobil görünümünü daha iyi ayarlar*/
}
.child_anasayfa h1{
    font-size: 50px;
    color: #3aa7c2;
}
.span_child{
    color: rgb(127, 52, 214);
}
.child_anasayfa p{
    font-size: 25px;
    margin-bottom: 12px;
}
.btn{
    background: #24caac;
    padding: 12px 28px; /*butonun büyüklüğünü ve genişliğini ayarladım*/
    border-radius: 20px; /* butonun kenarlarını yuvarlattım*/
    color: #fff;
    border: 1px solid #24caac;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}
.btn:hover{
    background: transparent; /*butonun üzerine gelince renk kaybolacak*/
    letter-spacing: 2px; /*buton üzerine gelince buton 2px büyür*/
}
.child_anasayfa img{/*fotoğrafın nasıl görünmesini istiyorsam burdan stil verdim*/
    border-radius: 50px;
    width: 500px;
    height: 500px;
}

/*!   BENİ TANI ------------------------------------------------*/
.innerogrendiklerim_child .icon img{ /*icon resim boyutlarını ayarladım*/
    width: 90px;
}
.innerogrendiklerim{
    display: flex; /*divleri yan yana getirir*/
    align-items: center;/*divleri sayfada ortalar*/
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    color: #fff;
}
.innerogrendiklerim_child{
    flex-basis: 31%;/*divler arasında boşluk*/
    color: #fff;
    padding: 25px 20px;
    background: rgba(55, 66, 80, 0.281);
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all .5s ease-in-out; /*ease-in de yakışır*/
}
.innerogrendiklerim_child:hover{
    border: 1px solid #24caac;
}
.innerogrendiklerim_child h3{
    font-size: 20px;
    margin: 5px 0;
}
.innerogrendiklerim_child p{
    font-size: 15px;
}
/*ÖĞRENDİKLERİM*/
.inner_calisma{
    display: flex;
    flex-wrap: wrap;/*sayfayı küçültünce o alana sığması için*/
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.child_calisma{
    flex-basis: 24%;
    color: #fff;
    padding: 20px 10px 20px 10px;
    border: 1pc solid transparent;
    transition: .3s;
    border-radius: 25px;
}
.child_calisma:hover{
    border: 1px solid #24caac;
}
.calisma_img img{
    border-radius: 20px;
}
.child_calisma .detail{
    display: flex;
    justify-content: space-between
}
.child_calisma .detail ul{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}
.child_calisma .detail ul{
    color: gold;
}
/*!Projelerim*/
.inner_projeler{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.child_projeler{
    flex-basis: 40%;
}
.child_projeler img{
    height: 100%;
    width: 100%;
    object-fit: cover;/*verilen ölçüye göre boyutlandırıp kırpar*/
    border-radius: 50%;
}
.child_projeler2{
    flex-basis: 46%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.single_detail{
    flex-basis: 48%;
    padding: 40px 30px;
    color: #fff;
    border-radius: 5px;
    transition: .3s;
}
.single_detail:hover{
    transform: scale(1.03);
}
.sd_1{
    background: #ec5802;
    margin-bottom: 20px;
}
.sd_2{
    background: #327538;
    margin-bottom: 20px;
}
.sd_3{
    background: #1bdae0;
}
.sd_4{
    background: #cc4d93;
}